.botao{
    background-color: rgb(226, 57, 226) !important;
}
.produto-container{
    display: flex;
    width:100%;
    justify-content: space-around;
 }
 @media screen and (max-width: 768px) {
    .produto-container{
        width: 100%;
        flex-direction: column;
    }
    
 }