.text-decorator-none{
    text-decoration: none;
}

.botao{
    background-color: rgb(147, 128, 147) !important;
}

.papel{
    background:radial-gradient(rgba(239, 236, 239, 0.5),transparent) !important;
    background-color: rgb(140, 79, 155) !important;
}
.atum{
color: aliceblue !important;
background-color: rgb(133, 4, 88) !important;
}
.fundos{
    background-color: aquamarine;
}
