.cursor {
    cursor: pointer;
    color: white
}

.text-decorator-none {
    text-decoration: none !important;
}

.bgnav {
    background:linear-gradient(rgba(3, 67, 67, 0.058),transparent) !important;
    background-color: rgb(226, 57, 226) !important;
}

.textobranco {
    color: white;
}

.logonav{
background-image: url(img/1-removebg-preview.png) !important;
}

.btbranco{
    background-color: white;
}

.centro {
    justify-content: center;
}
