.text-decorator-none{
    text-decoration: none;
}

.botaoatualizartema{
    background-color: rgb(37, 192, 48) !important;
    color: rgb(3, 4, 6) !important;
}
.fundocaixatema{
    background:linear-gradient(rgba(52, 1, 69, 0.5),transparent) !important;
    background-color: rgb(111, 241, 222) !important;
 }
 .papeltemas{
    background:linear-gradient(rgb(185, 74, 205),transparent) !important;
    background-color: rgb(116, 239, 239) !important;
}
.caixalistatema{
    width: 50vh !important;
    min-height: 10vh !important;
    padding: 1px !important;
    padding-left: 10px !important;

}
.displayflextema{
    display: flex !important;
}
.fundototaltema{
    background-color: rgb(78, 6, 108) !important;
}
.botaodeletartema{
    background-color: brown !important;
    color: black !important;
}
.produto-container{
    display: flex;
    width:100%;
    justify-content: space-around;
 }
 @media screen and (max-width: 768px) {
    .produto-container{
        width: 100%;
        flex-direction: column;
    }
    
 }

