.textos {
    color: white;
}

.box1 {
    background-color: black;
    height: 80px;
}

.box2 {
    background-color: black;
    height: 25px;
}

.redes {
    font-size: 60;
    color: white
}

.textos {
    color: white;
}
.produto-container{
    display: flex;
    width:100%;
    justify-content: space-around;
 }
 @media screen and (max-width: 768px) {
    .produto-container{
        width: 100%;
        flex-direction: column;
    }
    
 }