.caixa {
    background-color: red;
}

.titulo {
    color: white !important;
    font-weight: bold !important;
}

.botao {
    border-color: white !important;
    background-color: red;
    color: white !important
}

.postagens {
    background-color: white;
}
.rx{
    background-color: rgb(226, 57, 226) !important;
}
.papel{
    background:linear-gradient(rgba(237, 213, 245, 0.5),transparent) !important;
    background-color: rgb(50, 4, 100) !important;

}
.branco{
    background-color: white;
}
.preto{
    color: rgb(219, 51, 213) !important;
}
.bc{
    color: white !important;
}
.regular{
    font-family: 'Courier New', Courier, monospace !important;
}